backcall==0.2.0
colorama==0.4.6
debugpy==1.6.3
decorator==5.1.1
distlib==0.3.6
entrypoints==0.4
executing==1.2.0
filelock==3.8.0
freegames==2.4.0
nest-asyncio==1.5.6
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
platformdirs==2.5.3
pluggy==1.0.0
prompt-toolkit==3.0.32
psutil==5.9.3
pure-eval==0.2.2
py==1.11.0
pygame==2.1.2
Pygments==2.13.0
pyparsing==3.0.9
python-utils==3.4.5
pywin32==305
pyzmq==24.0.1
six==1.16.0
tomli==2.0.1
tornado==6.2
tox==3.27.0
traitlets==5.5.0
utils==1.0.1
virtualenv==20.16.6
wcwidth==0.2.5
